*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Inter;

}

.header {
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 450px;

    padding: 10px 20px;
    display: flex;
    z-index: 1;
}

.header.dark {
    background: #21222A;
}

main {
    background: url(/public/group.png);
    padding: 57px 27px;
    background-repeat: no-repeat;
    background-position: right center;
    flex: 1 1 auto;
    background-color: white;
    color: #2B283A;
    width: 450px;
}

main.dark {
    background: url(/public/group-dark.png);
    background-color: #282D35;
    background-repeat: no-repeat;
    background-position: right center;
    color: #fff;
}

.header nav {
    display: flex;
    align-items: center;
}

nav img {
    max-width: 24px;
}

.header--title {
    color: #00ABCA;
    font-size: 22px;
    letter-spacing: -1.113px;
}

.toggler {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav .toggler--light {
    color: #2B283A;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 11px;
}

nav.dark .toggler--light {
    color: #918E9B;
}

nav .toggler--dark {
    color: #D5D4D8;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 11px;
}

nav.dark .toggler--dark {
    color: #FFF;
}

nav .toggler--div {
    height: 10px;
    width: 20px;
    background-color: #000;
    border-radius: 14px;
    margin-inline: 5px;
}

nav.dark .toggler--div {
    display: flex;
    background-color: #fff;
    justify-content: end;
}

nav .toggler--div-circle {
    background: #fff;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

nav.dark .toggler--div-circle {
    background: #222;
    border: 1px solid #fff;
}

.main--title {
    font-size: 39.06px;
    letter-spacing: -1.953px;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts>li {
    line-height: 19px;
    padding-block: 10px;
    margin-left: 25px;
}

.main--facts>li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}